html, body {
  margin: 0;
  padding: 0;
}

#html-canvas {
  position: absolute;
}

#html-canvas-top-layer {
  position: absolute;
  z-index: 1;
}

#controls_container {
  position: absolute;
  z-index: 1;
  height: 6%;
  width: 90%;
  margin: 5px auto;
  padding: 5px;

  bottom: 5px;
  left: 50%;
  transform: translate(-50%);

  color: #fff;
  background-color: rgba(0,0,0,.75);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#undo_svg {
  height: 75%;
}

#refresh_svg {
  height: 75%;
}

#resolution_slider {
  height: 70%;
  width: 33%;
}

@media only screen and (max-width: 600px) {
  #resolution_slider {
    font-size: 32px;
  }
}